:root {
    --background: #181825;
    --foreground: #cdd6f4;
    --cursor: #bac2de;


    --color0: #181825;
    --color1: #f38ba8;
    --color2: #a6e3a1;
    --color3: #fab387;
    --color4: #89b4fa;
    --color5: #cba6f7;
    --color6: #74c7ec;
    --color7: #cdd6f4;
    --color8: #181825;
    --color9: #eba0ac;
    --color10: #94e2d5;
    --color11: #f9e2af;
    --color12: #b4befe;
    --color13: #f5c2e7;
    --color14: #89dceb;
    --color15: #bac2de;
}
