@define-color foreground #cdd6f4;
@define-color background #181825;
@define-color cursor #cdd6f4;

@define-color color0 #181825;
@define-color color1 #f38ba8;
@define-color color2 #a6e3a1;
@define-color color3 #fab387;
@define-color color4 #89b4fa;
@define-color color5 #cba6f7;
@define-color color6 #74c7ec;
@define-color color7 #cdd6f4;
@define-color color8 #181825;
@define-color color9 #eba0ac;
@define-color color10 #94e2d5;
@define-color color11 #f9e2af;
@define-color color12 #b4befe;
@define-color color13 #f5c2e7;
@define-color color14 #89dceb;
@define-color color15 #bac2de;

*{
    font: JetBrainsMono Nerd Font;
    font-size: 16px;
    border-radius: 4px;
    box-shadow:none;
    border:none;
    outline:none;
}
window {
background-color: transparent;
}

#input {
color:@color7;
background-color:@color0;
margin: 5px;
border-bottom: 2px solid @color4;
border-radius:0px;
}
#input:focus,
#input *:focus-visible
{
    border-bottom: 2px solid @color4;
    background-image: none;
    border-radius: 0px;
}


#inner-box {
margin: 5px;
background-color: @color0;
}

#outer-box {
margin: 5px;
background-color: @color0;
border-radius:8px;
padding: 4px;
}

#scroll {
margin: 5px;
border: 2px solid @color4;
}

#text {
background-color: transparent;
}
#entry {
background-color: @color0;
}
#entry #text{
color:@color7;
}
#entry:selected {
border: 1px solid @color7;
background-color: shade(@color2,0.95);
background-image: linear-gradient(
        to bottom,
        alpha(@color7, 0.8),
        alpha(@color7, 0.01)
    );  
}
#entry:selected #text {
color:@color0;
}
#img {
margin: 0px 10px 0px 10px ;
border: none;
background-color: transparent;
}
#expander-box{
color: @color7;
}
#expander-box:selected {
color: @color0;
}
