* {
    background-color: transparent;
    text-color: #cdd6f4;
}

window {
    width: 730px;
    background-color: #181825c0;
    border: 2px solid;
    border-color: #cdd6f480;
    padding: 16px;
    border-radius: 4px;
}
mainbox {
    spacing: 8px;
}
inputbar{
    background-image: linear-gradient(
        to bottom,
        #cdd6f480,
        #cdd6f401,
        #cdd6f401,
        #cdd6f401
    );
    background-color: #89b4fa99;
    children: [textbox-seach-icon,entry];
    border: 2px solid;
    border-color: #cdd6f480;
    border-radius: 4px;
}
textbox-seach-icon{
    expand: false;
    content: " ";
    margin: 6px 2px 6px 8px;
    background-color: transparent;
    color: #cdd6f4;
    text-outline: true;
    text-outline-width: 1;
    text-outline-color: #cdd6f4;
    padding: 0px 0px 0px 2px;
}
entry { 
    text-color: #cdd6f4; 
    padding: 5px 0px 0px 0px;
    background-color: transparent;
}
listview {
    padding: 6px 6px;
    lines: 8;
    background-image: linear-gradient(
        to bottom,
        #cdd6f480,
        #cdd6f401
    );
    background-color: #89b4fa99;
    children: [textbox-seach-icon,entry];
    background-color: #cba6f733;
    border: 2px solid;
    border-color: #cdd6f480;
    border-radius: 4px;
}
element {
    border-radius: 4px;
    padding: 2px 0px 2px 10px;
    margin: 1px 0px;
    border: 0;
    text-color: #cdd6f4;
    background-color: #18182527;
}
element selected {
    background-image: linear-gradient(
        to bottom,
        #ffffff80,
        #ffffff01,
        #ffffff01
    );
    background-color: #89dcebb3;
    border: 2px solid;
    border-color: #ffffff80;
    text-color: #181825;
}
element-text {
    background-color: #00000000; // This line is super imp , 
                                 // it hides the weird text background
    text-color:      inherit;
}    