* {
    border-color: #89b4fa;
    text-selected: #181825;
    text-idle: #6c7086;
    text-unselected: #cdd6f4;
    highlighter: #a6e3a1;
    bg-color: #181825cc;
    color:@text-unselected;
    background-color:@bg-color;
    }

window {
    location: south;
    y-offset: -30px;
    width: 90%;
    background-color: @bg-color;
    border-radius: 8px;
    border: 2px solid;
    border-color: @border-color;
    }
mainbox {
    background-color: transparent;
    }
inputbar{
    enabled: false;
    }
listview {
    background-color: transparent;
    border-radius: 4px;
    padding: 0px 10px 15px 10px;
    lines:1;
    columns:10;
    }
element {
    background-color:inherit;
    orientation: vertical;
    background-color: transparent;
}
element-icon {
    size: 150px;
    background-color: transparent;
}
element selected {
    border: 0px 0px 4px 0px solid;
}
element-text {
    enabled:false;
}    