* {
    border-color: #89b4fa;
    text-selected: #181825;
    text-idle: #6c7086;
    text-unselected: #cdd6f4;
    highlighter: #a6e3a1;
    bg-color: #181825cc;
    color:@text-unselected;
    background-color:@bg-color;
}

window {
    location: south;
    y-offset: -30px;
    width: 1500px;
    background-color: transparent;
}
mainbox {
    background-image: linear-gradient(
        to top,
        #181825b3,
        #18182533
    );
    background-color: #cba6f733;
    border: 3px solid;
    border-color: #cdd6f480;
    border-radius: 8px;
}
inputbar{
    enabled: false;
}
listview {
    background-color: transparent;
    border-radius: 4px;
    padding: 10px ;
    lines:1;
    columns:20;
    spacing: 8px;
}
element {
    background-color:inherit;
    orientation: vertical;
    background-color: transparent;
    border: 2px solid;
    border-color: #cdd6f433;
    border-radius: 8px;
}
element-icon {
    size: 200px;
    background-color: transparent;
}
element selected {
    border: 2px 2px 4px 2px solid;
    border-color: #cdd6f480;
    border: 2px solid;
}
element-text {
    enabled:false;
}    